<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>762922516706-95fh659dgqb4nnanlivgn57gui0qfm8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762922516706-95fh659dgqb4nnanlivgn57gui0qfm8g</string>
	<key>API_KEY</key>
	<string>AIzaSyCFsGNrUm5P8O8O0CojNPAaa8zFg9r8x-I</string>
	<key>GCM_SENDER_ID</key>
	<string>762922516706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exam.nursing</string>
	<key>PROJECT_ID</key>
	<string>nursing-exam-24f2a</string>
	<key>STORAGE_BUCKET</key>
	<string>nursing-exam-24f2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762922516706:ios:572535e25af9fe0ac61ebb</string>
</dict>
</plist>